.header-text {
  margin-bottom: 0.5rem;
}

.header-buttons {
  margin-top: 1.5rem;
}

.subheader-text {
  margin-bottom: 1rem;
}

.toast-img {
}

.icon {
  padding: 1rem;
}

.os-icon {
  margin: 0.5rem;
}

.button {
  margin: 0.5rem 0.5rem 0 0;
  background: #2d2d2d;
  transition: all 0.3s ease-in;
  &:hover, &:focus{
    background: $lightBlack;
  }
}

.light-text {
  a {
    color: $lightBlack;
    transition: all 0.3s ease-in;
    &:hover, :focus {
      color: black;
    }
  }
}

.dark-text {
  color: black;
  transition: all 0.3s ease-in;
  a {
    color: $primary;
  }
}

.header-container {
  background: url(../../images/header_bg.jpeg);
  background-size: cover;
  color: white;
}

.download-icon {
  color: #3f6391;
}

.dark-icon {
  color: rgb(102, 102, 102);

  &:hover, &:focus {
    color: $dark;
  }
}

.downloads-container {
  margin-top: 2rem;
}

.android-badge {
  position: relative;
  top: 14px;
}

.screenshot {
  width: 248px;
  height: 440px;
}

@media (max-width: 640px) {
  .slider-container {
    margin-top: 1rem;
  }
}

.top-gap {
  margin-top: 1rem;
}
